
body {

  background-image: url('breakfast-lg.jpg');
  /* Set rules to fill background */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;


  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 10%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
