html{
  font-family: sans-serif;
}

th{
  background-color: #1b94bc;
  color: white;
  overflow: hidden;
}
.table1{
  border: none;
  background-color: none;
  width: 100%;
}

/**all of type number*/
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}
input[type=number],
input[type=text],
input[type=tel],
input[type=date] {
  width: 100%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  /*Removing  the calendar sign*/
  /*would be a design flaw*/
  /*DESIGN FLAW*//*NOT REMOVE LOGO*//*OF CALENDAR*/
  display: none;
}

input{
  border: none;
  background-color: transparent;
  width: float;
}

td #textarea1{
  background-color: #ffffa1;
}

table, th, td{
  border: 1px solid blue;
  padding: 5px;
  border-color: blue;
}
/*submit button*/
#Submit1{
  border-radius: 10px 10px;
  background-color: #1b94bc;
  color: white;
  text-align: center;
  margin-left: 45%;
  padding: 10px 15px;
}

footer{
  background-color: #1b94bc;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 11;
  padding: 10px 0px;
}

.table2 td{
  background-color: #ffffa1;
}

.table3 td{
  background-color: lightgray;
}
.table3{
  border: none;
}

#summary_row1col1{
  column-fill: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
}

#text_decor{
  color: lightgray;
}
